
/* Header */

header {
    background-color: #773F1A;
    color: #FFFDE4;
    border-bottom: 3px solid #FFE4CD;
    size: 10%;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


}

nav ul {
    font-size: 18px;
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #FFFDE4;
    padding: 0px 5px;

}

nav a:hover { 
    text-decoration: underline;
    border: 3px solid #533012;
    border-radius: 7px;
    color: #45ADAD;
}

.current {
    text-decoration: underline;
    font-size: 24px;
}



/* Footer */

footer{
    clear: both;
    position: relative;
    bottom: 0;
    margin-top: 10px;
    width: 100%;
    background-color: #773F1A;
    color: #FFFDE4;
    border-top: 3px solid #e1c699;
    text-align: center;
  }


/*  general stlye */
body {
    background: url(../images/background.jpeg), #533012;
    color: #FFE4CD;
    min-height: 100%;
    height: 100%; 
}

p {
    line-height: 25px;
    font-size: 20px;
    padding: 10px 20px;
}

h2 {
    font-size: 30px;

}

img {
    border: 3px solid #e1c699;
}

* {
    font-family: Georgia, sans-serif;
}



/* Home  */

.f {
    margin-top: 260px;
}
.home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
    justify-items: center;
    row-gap: 2%;
}

h2.intro {
    margin-top: 15px;
}

.home p {
    text-align: justify;

}

.home div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 2%;
    justify-items: center;
}

.home img {
    height: 200px;
    width: 200px;
}




/* tactics  */

.top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.top h2 {
    margin-top: 20px;
}

.top p {
    text-align: justify;
}

.tactics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

.tactics a {
    font-size: 30px;
    text-decoration: none;
    color: #FFFDE4;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 3px solid #e1c699;
    border-radius: 7px;
    background-color: #773F1A; 
}

.tactics a:hover {
    background-color: #533012;
    text-decoration: underline;

}

.tactics img {
    width: 75%; 
    
}

/* Learn More */

.learn p {
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px;

}

.learn h2 {
    margin-top: 10px;
    text-align: center;
}

.resources {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 450px;
    background-color: #124153;
    margin-top: 20px;
    border-radius: 7px;
}

.card a {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #FFFDE4;
    background: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card a:hover {
    background-color: #773F1A;
    text-decoration: underline;  
}

.card li {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}

/* How to play */

.goalAndSetup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
    border-bottom: 3px solid #1a5e77;
}

.goalAndSetup h2 {
    margin-top: 10px;
}

.goalAndSetup img {
    height: 50%;
    width: 50%;
    
}

.pieces h2 {
    text-align: center;
}

.pieces ul {
    display: grid;
    grid-template-rows: repeat(1fr, 6)
}

.pieces li {
    padding-bottom: 20px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 2fr;
    border-bottom: 3px dashed #1a5e77;
}

.pieceNames {
    font-size: 24px;
    grid-row: 1;
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 5px; 
}

.piecePic {
    height: 100px;
    width: 100px;
    align-self: center;
    justify-self: center;
    
}

.description {
    padding: 10px;
    margin-right: 10px;
    text-align: justify;
    align-self: center;
    justify-self: center;
    border: 3px solid #e1c699;
    border-radius: 7px;
    background-color: #533012; 
}

.examples {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 3px solid #1a5e77;
}

.examples img {
    width: 250px;
    margin-bottom: 10px;

}

.examples p {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.checkmate h2 {
    text-align: center;

}

.checkmate p {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.checkmate li {
    padding-bottom: 20px;
    display: grid;
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr;
    border-bottom: 3px dashed #1a5e77;
}

.mateName {
    font-size: 24px;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 5px; 
}

.matePic {
    grid-row: 3;
    height: 200px;
    width: 200px;
    align-self: center;
    justify-self: center;
    
}

.mateDescription {
    grid-row: 2;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: justify;
    align-self: center;
    justify-self: center;
    border: 3px solid #e1c699;
    border-radius: 7px;
    background-color: #533012; 
}

/* Contact */

.f2 {
    position: absolute;
    bottom: 0;
}

/* Tablet View */

@media screen and (min-width: 580px) {

    /* Resources */

    .resources {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .card {
        width: 75%;
        flex-basis: 250px;
    }

}




@media screen and (min-width: 750px) {
    /* Nav */

    nav {
        width: 100%;
        padding-top: 10px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;

    }

    /* Tactics */

    .tactics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(10, auto);
        grid-row-gap: 20px;
    }

    a.tp {
        grid-row: 1;
        grid-column: 1;
        align-self: center;
    }

    img.tp {
        grid-row: 2;
        grid-column: 1;
    }

    a.fork {
        grid-row: 1;
        grid-column: 2;
    }

    img.fork {
        grid-row: 2;
        grid-column: 2;
    }

    a.pin {
        grid-row: 3;
        grid-column: 1;
    }

    img.pin {
        grid-row: 4;
        grid-column: 1;
    }

    a.skew {
        grid-row: 3;
        grid-column: 2;
    }

    img.skew {
        grid-row: 4;
        grid-column: 2;
    }

    a.sac {
        grid-row: 5;
        grid-column: 1;
    }

    img.sac {
        grid-row: 6;
        grid-column: 1;
    }

    a.disc_a {
        grid-row: 5;
        grid-column: 2;
    }

    img.disc_a {
        grid-row: 6;
        grid-column: 2
    }

    a.disc_c {
        grid-row: 7;
        grid-column: 1;
    }

    img.disc_c {
        grid-row: 8;
        grid-column: 1;
    }

    a.doub {
        grid-row: 7;
        grid-column: 2;
    }

    img.doub {
        grid-row: 8;
        grid-column: 2;
    }

    a.pp {
        grid-row: 9;
        grid-column: 1 / span 2;
        width: auto;
    }

    .tactics img.pp {
        grid-row: 10;
        grid-column: 1 / span 2;
        width: 50%;
    }

    .tactics a {
        width: auto;
        justify-self: center;
    }

    .tactics img {
        width: 75%;
        justify-self: center;
    }
    /* How To Play */

    .checkmate li {
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 2fr 3fr;
    }
    
    .mateName {
        grid-column: 1 / span 2;
        padding-bottom: 10px; 
    }
    
    .matePic {
        grid-row: 2;
        grid-column: 2;
        height: 300px;
        width: 300px;
        
    }
    
    .mateDescription {
        grid-column: 1;
        padding: 10px;
    }

    /* Home */

    .home {
        grid-template-rows: 50px auto 50px auto 50px auto;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 40px;
    }

    h2.intro {
        grid-row: 1;
        grid-column: 1 / span 2;

    }

    img.intro {
        grid-row: 2;
        grid-column: 2;
    }

    p.intro {
        grid-row: 2;
        grid-column: 1;
    }

    h2.origin {
        grid-row: 3;
        grid-column: 1 / span 2;

    }

    img.origin {
        grid-row: 4;
        grid-column: 1;
    }

    p.origin {
        grid-row: 4;
        grid-column: 2;
    }

    h2.fide {
        grid-row: 5;
        grid-column: 1 / span 2;

    }

    img.fide {
        grid-row: 6;
        grid-column: 2; 
    }

    p.fide {
        grid-row: 6;
        grid-column: 1;
    }

    .home img {
        align-self: center;
        width: 80%;
        height: 80%;
    }

    .home h2 {
        text-decoration: underline;
    }

    .f {
        margin-top: 10px;
    }
}



